$font-text: "Roboto Slab", serif;

.wrapper-contacts {
  height: 100vh;
}

.contacts-and-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: $font-text;
  width: 100%;
}

.contacts-contacts {
  background-color: #445d728a;
  border-radius: 25px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #eff4f5;
  font-size: 20px;
  height: 400px;
  transition: 0.8s;

  & li {
    margin: 20px;
  }

  &:hover {
    transition: 0.8s;
    background-color: #445d72;
    box-shadow: 0 0 30px #445d72;
  }
}

.services-services {
  background-color: #445d728a;
  border-radius: 25px;
  margin-top: 40px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  color: #eff4f5;
  align-items: center;
  font-size: 20px;
  height: 400px;
  transition: 0.8s;

  & li {
    margin: 20px;
  }

  &:hover {
    transition: 0.8s;
    background-color: #445d72;
    box-shadow: 0 0 30px #445d72;
  }
}

@media (max-width: 992px) {
  .box-contacts {
    font-size: 16px;
    & li {
      margin: 10px;
    }
  }

  .wrapper-contacts {
    height: 860px;
  }
}

@media (max-width: 767px) {
  .box-contacts {
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    & li {
      margin: 10px;
    }
  }
  .wrapper-contacts {
    height: 860px;
  }
}

@media (max-width: 500px) {
  .wrapper-contacts {
    height: 860px;
  }

  .box-contacts {
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: #445d72;
    & li {
      margin: 10px;
    }
  }
}
