$light-blue: #46c7e9;
$dark-blue: #26445a;
$black: #2c2b3c;
$yellow: #e4e642;
$white: #f6f5f8;
$font-text: "Roboto Slab", serif;

.swiper-scrollbar {
  height: 10px;
}

.swiper {
  width: 79%;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.swiper-slide {
  border-radius: 25px;
}

.company {
  min-width: 100%;
  min-height: 100%;
  background-image: url("./../../img/engineering.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 25px;
}

.example-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #445d72;
  border-radius: 30px;
  position: absolute;
  bottom: 90px;
  right: calc(50% - 75px);
  color: #ffffff;
  width: 150px;
  height: 60px;
  font-family: $font-text;
  transition: 0.5s;
  user-select: none;
  &:hover {
    background-color: #445d728a;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
  }
}

.apple {
  min-width: 100%;
  min-height: 100%;
  background-image: url("./../../img/apple.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 25px;
}

.onliner {
  min-width: 100%;
  min-height: 100%;
  background-image: url("./../../img/onliner.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 25px;
}

.shelter {
  min-width: 100%;
  min-height: 100%;
  background-image: url("./../../img/shelter.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 25px;
}
